name: "homepage"
services:
  homepage:
    build:
      context: vite
      dockerfile: Dockerfile
      target: prod           # 本番用ステージを指定
    container_name: homepage
    restart: unless-stopped
    # volumes: は削除 (コードはイメージに含まれるため不要)
    expose:
      - "80"                 # Nginxのポート
    networks:
      - fukaya-lab-network
    labels:
      caddy: http://fukaya-sus.lab
      caddy.reverse_proxy: "{{upstreams 80}}" # 80番ポートにプロキシ

networks:
  fukaya-lab-network:
    external: true
    name: fukaya-lab-network